// Variables
$primary-color: rgb(48, 47, 47);
$secondary-color: #69bdf8;
$white: #fff;
$show-home-image: true;
$home-img: url(../img/lightbulb2.jpeg);

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-img;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 650px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 651px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
