// Menu Button
.menu-btn {
  position: absolute;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  @include easeOut;

  // Hamburger Menu Icon
  .btn-line {
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
    // @include easeOut;
  }

  // Transition (Rotate) into Close Icon
  &.close {
    transform: rotate(90deg);

    .btn-line {
      &:nth-child(1) {
        background: red;
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        // display: none;
        opacity: 0;
      }
      &:nth-child(3) {
        background: red;
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.98;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-left,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  .menu-left {
    border-right: 2px solid white;
    background: rgba($primary-color, 1);

    .menu-img-wrapper {
      position: relative;
      width: 10rem;
      height: 10rem;
      margin: 0 auto;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 5rem;
      border: 3px solid $secondary-color;

      #menu-img {
        position: relative;
      }
    }

    .menu-icons {
      margin-top: 1rem;
      margin-left: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;

      a {
        padding: 0.1rem;
        margin-right: 0.4rem;
        color: $white;

        &:hover {
          color: $secondary-color;
          @include easeOut();
        }
      }
      #github-icon,
      #mail-icon {
        margin-left: 0.3rem;
      }
    }
  }
  .menu-nav {
    background: rgba(0, 0, 0, 1);

    .nav-item {
      list-style: none;
      margin-bottom: 2rem;

      &.current > a {
        color: $secondary-color;
      }
    }
    .nav-link {
      color: $white;
      font-size: 1.2rem;
      text-transform: uppercase;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
