// Widescreens
@include mediaXL {
}

// Desktops/Laptops
@include mediaLg {
}

// Tablets & Small Laptops
@include mediaMd {
  html {
    font-size: 12px;
  }
  // Regular Nav
  .main-nav {
    visibility: hidden;
  }
  #header-projects {
    .main-nav {
      a {
        visibility: hidden;
      }
    }
  }
  .sm-nav {
    visibility: visible;
  }

  // Home
  section#home {
    align-items: center;
    text-align: center;

    .home-container {
      .home-text {
        h1 {
          margin-top: 5vh;
        }
        .icons {
          justify-content: center;
        }
      }
      .home-img {
        margin-top: 2vh;
      }
    }
  }
}

@include projectsMd {
  // Projects
  section {
    &#projects {
      .projects-jumbotron {
        #projects-title {
          font-size: 3rem;
        }
      }

      .projects-container {
        .project-header {
          font-size: 2rem;
        }
        .pacman-container {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
            "pacman"
            "other";

          .pacman {
            grid-area: pacman;
            display: flex;
            flex-direction: column;
          }
          .other {
            grid-area: other;
          }
          .pacman-b {
            img {
              height: 5vh;
              width: 5vw;
            }
          }
        }
        .bus-container {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
            "bus"
            "b-other";

          .bus {
            #busGif {
              width: 35vw;
              height: 25vh;
              box-shadow: 5px 5px 5px rgba(196, 188, 188, 0.8);
            }
          }
        }

        .eyes-container {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
            "eyesL"
            "eyesR";

          .eyesL {
            grid-area: eyesL;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
          #eyes {
            align-self: center;
          }
          .eye {
            width: 25vw;
            height: 15vh;
          }
          .eyeball {
            width: 6vw;
            height: 6vh;
          }
        }
      }
    }
  }
}

// Phones (Vertical Orientation)
@include mediaSm {
  // Menu
  .menu {
    .menu-nav {
      .nav-item {
        font-size: 1rem;
      }
    }
  }

  // Home
  section#home h1 {
    margin-top: 10vh;
    // color: blue;
  }

  // Projects
  // section#projects {
  //   #pContainer {
  //     h3 {
  //       font-size: 2rem;
  //     }
  //     .eyes {
  //       top: 55%;
  //       width: 100%;
  //     }
  //     .eye {
  //       width: 6vw;
  //       height: 5vh;
  //     }
  //     .eyeball {
  //       width: 2vw;
  //       height: 2vh;
  //     }
  //   }
  // }

  //TODO: Change menu to 1 column 2 rows for small screen

  //TODO: Change Pacman container to 1 column 2 rows OR just one big screen
}
