// Widescreens
@include mediaXL {
}

// Desktops/Laptops
@include mediaLg {
}

// Tablets & Small Laptops
@include mediaMd {
  .main-nav {
    visibility: hidden;
  }
  .sm-nav {
    visibility: visible;
  }

  .menu {
    &.show {
      visibility: visible;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    .menu-nav {
      grid-column: 1;
      grid-row: 1;
      border: 1px solid black;
      height: 100vh;
      display: grid;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 1);
    }
  }

  section#home {
    align-items: center;
    text-align: center;

    .home-container {
      display: grid;
      gap: 1.5rem;
      grid-template-areas:
        "img img"
        "home-txt home-txt";
      .home-text {
        h1 {
          margin-top: 5vh;
        }
        .icons {
          justify-content: center;
        }
      }
      .home-img {
        margin-top: 2vh;
        img {
          height: 100%;
        }
      }
    }
  }
  section {
    .lg-heading {
      line-height: 1;
      margin-bottom: 2rem;
      font-size: 5rem;
    }
    &#projects {
      .project-header {
        font-size: 3rem;
      }
    }
  }
}

// Phones (Vertical Orientation)
@include mediaSm {
  #projects-title {
  }
  section#home h1 {
    margin-top: 10vh;
    // color: blue;
  }
  //TODO: Change menu to 1 column 2 rows for small screen

  //TODO: Change Pacman container to 1 column 2 rows OR just one big screen
}
